.BtnAdd {
  background-color: rgba(0, 174, 28, 1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.BtnAdd:hover {
  background-color: rgb(0, 139, 24);
}

.BtnAdded {
  background-color: rgb(0, 139, 24);
}
